/* -------------------- DEBUG CLASSES ----------------------*/
.d1 { background: pink; }
.d2 { background: lightblue; }
.d3 { background: lightgreen; }
.d4 { background: lightsalmon; }
.d5 { background: lightgrey; }
.d6 { background: yellow; }
.d7 { background: floralwhite; }
.d8 { background: gold; }